<% include ../partials/header %>

<div class="container">
  
  <header class="text-center">
    <div class="jumbotron">
    <h1>Welcome to Camps Site </h1>
    <p>View hand-picked camps from all over the world</p>
    </div>
    <p>
      <a class="btn btn-primary btn-lg col-5" href="camps/new">Add new</a>
      <a class="btn btn-secondary btn-lg col-5" href="/" role="button">Home</a>
    </p>  
  </header>
  
  <div class="row">
    <div class="col-lg-12">
      <h3>Most popular camps</h3>
    </div>
  </div>
  
  <div class="row text-center" style="display: flex; flex-wrap: wrap;">
    <% camps.forEach((camp) => { %>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="thumbnail">
        <img class="img-fluid img-index" src="<%= camp.image %>">
        
        <h4 class="caption"><%= camp.name %></h4>
        <p>
          <a class="btn btn-info btn-xs" href="/camps/<%= camp._id %>">More info</a>
        </p>
      </div>
    </div>
    <% }); %>
  </div>
  
</div>

<% include ../partials/footer %>