<!--currently not in use or -useless -->

<% include ./partials/header %>

<div class="container">

  <h1 class="text-center jumbotron">Home page</h1>

  <a href="/camps" class="btn btn-primary">All camps</a>
</div>

<% include ./partials/footer %>