body {
  background-color: cornsilk;
}
.navbar{
	margin-bottom: 4vh;
}

.img-thumbnail {
  padding: 2vh;
}

ul.navbar-right li {
	border: black 1px solid;
	border-radius: 5px;
	padding: 1vw;
}

#del-form {
	display: inline;
}